body { 
    background-color: #EFF3F8;
}

.form-container { 
    top: 50%;
    transform: translateY(30%);
}

.site-title { 
    transform: translateY(25%);  
    font-weight: bold;
}

.title-special-letter { 
    color: #358063;
}

.create-account-form { 
    background-color: rgb(229, 229, 227);
    border-radius: 15px;
    height: 70%;
    width: 50%;
}

.form-title { 
    color: #2D2F34;
}

.create-account-form div { 
    height: 10%;
}

.create-account-form input { 
    height: 10%;
    border: none;
    border-radius: 15px;
}

.create-account-form input:focus { 
    outline: #5DB996 3px solid;
}

.input-error { 
    color: #b61422;
    display: none;
}   

.show-password { 
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.user-exists-error { 
    height: 7vh;
    width: 40vh;
    background-color: rgb(154, 4, 4);
    box-shadow: 2px 2px 4px black;
    border-radius: 15px;
    right: 50%;
    top: 10%;
    transform: translateX(50%) translateY(50%);
    color: white;
    opacity: 0;
}

.user-exists-error span { 
    font-size: 2rem;
}

.close-alert { 
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
}

.profile-section { 
    padding: 10px;
    transition: all .5s ease;
    cursor: pointer;
    transform: translateX(8%);
}

.profile-section:hover { 
    background-color: rgb(220, 210, 210);
    border-radius: 20px;
}

.site-logo { 
    padding: 10px;
    color: #159e69;
    background-color: #e1dde5;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid rgb(11, 166, 107);
    text-decoration: none;
}

.budget-counter,
.budget-limit-counter { 
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgb(11, 166, 107);
    border-radius: 50%;
}

.budget-limit-counter,
.budget-limit-counter-large { 
    border: .5px solid rgb(219, 52, 52) !important;
}

.budget-counter-large,
.budget-limit-counter-large { 
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgb(11, 166, 107);
    border-radius: 50%;
}

.thead-dark { 
    background-color: #343a40; /* Dark background */
    color: #fff
}

table { 
    background-color: transparent;
}

.product-buy, 
.product-delete { 
    cursor: pointer;
    transition: all .2s ease;
}

.product-buy:hover { 
    color: #159e69;
}

.product-delete:hover { 
    color: #b61422;
}

.add-product-details { 
    border: none;
    background-color: #2D2F34;
    height: 50px;
    width: 15%;
    border-radius: 10px;
    padding: 8px;
    transition: .5s all ease;
    color: white;
}

.edit-name { 
    border: none;
    background-color: #2D2F34;
    border-radius: 5px;
    transition: .5s all ease;
    color: white;
}

.add-product-details::placeholder { 
    color: rgba(255, 255, 255, 0.533);
}

.add-product-details:focus { 
    outline: none;
    transform: scale(1.2);
}

.edit-name:focus { 
    outline: none;
    transform: scale(1.1);
}

.add-product { 
    transition: .3s all ease;
}

.profile-section { 
    text-decoration: none;
}

.profile-info { 
    background-color: #e0e6ed;
    border-radius: 20px;
}

.edit-icon { 
    background-color: rgba(205, 201, 201, 0.504);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: .2s all ease !important;
}

.edit-icon:hover { 
    opacity: .5;
}

.account-details {
    margin-right: 5.75rem !important;
}

.budget-counter-profile,
.budget-limit-counter-profile { 
    height: 225px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgb(11, 166, 107);
    border-radius: 50%;
    font-size: 4rem;
}

.limit-safe { 
    border: .5px solid rgb(11, 166, 107) !important;
}

.limit-exceed { 
    border: .5px solid rgb(219, 52, 52) !important;
}

.disabled { 
    cursor: none;
}

@media (max-width: 991px) { 
    .budget-counter-profile, 
    .budget-limit-counter-profile { 
        width: 150px;
        height: 150px;
        font-size: 2.5rem
    }
}

@media (max-width: 1204px) { 
    .large-profile-logo { 
        display: none !important;
    }
    .account-data { 
        margin-left: 3rem;
    }
    .account-details {
        margin-right: -7.25rem !important;
    }
}

@media (max-width: 500px) { 
    .budget-counter-profile, 
    .budget-limit-counter-profile { 
        width: 100px;
        height: 100px;
        font-size: 1.5rem;
        margin-left: 1rem !important;
    }
    .account-details {
        margin-right: 8.75rem !important;
    }
}


@media (max-width: 767px) { 
    .account-details {
        margin-right: 0.75rem !important;
    }
}

@media (max-width: 450px) { 
    .account-details {
        margin-right: 4.75rem !important;
    }
}


